<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.LearningSpring.Repository.mapper.UserMyBatisRepository">

    <insert id="insert">
        INSERT
        INTO passenger_system.user (username,
        password,
        name,
        surname,
        created_at)
        VALUES (#{username},
        #{password},
        #{name, jdbcType=NVARCHAR},
        #{surname, jdbcType=NVARCHAR},
        #{createdAt}
     )
    </insert>
    <select id="findByUsername" resultType="User">
        SELECT <include refid="UserBaseColumns"></include>
        from user u
        where  u.username = #{username};
    </select>
    <sql id="UserBaseColumns">
        u.id,
        u.username,
        u.password,
        u.name,surname,
        u.created_at,
        u.last_login,
        u.idcard_id
    </sql>
    </mapper>