<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.LearningSpring.Repository.mapper.UserMyBatisRepository">

    <insert id="insert">
        INSERT
        INTO passenger_system.id_table (username,
        password,
        name,
        surname,
        createdAt)
        VALUES (#{username},
        #{password},
        #{name, jdbcType=NVARCHAR},
        #{surname, jdbcType=NVARCHAR},
        #{createdAt}
     )
    </insert>
</mapper>